body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /* margin-right: 50px; */
    padding-top: 5px;
}

nav {
    display: flex; 
    justify-content: space-around; 
    background-color: #7a94db;
    width: 100%;
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 80px;
    padding-top: 15px;
}

nav a {
    text-decoration: none;
    color: white; 
    padding: 10px;
    border-radius: 7px;
    transition: all .6s ease; 
}

nav a:hover {
    background-color: #91a5dc;
    padding: 10px;
    border-radius: 7px;
    transition: all .6s ease; 
}

.product-container a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(50px, auto);
    margin: 15px; 
    padding-top: 80px;
    padding-bottom: 50px; 
}

.product-container > div {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .6s ease;
}

.product-container > div:hover {
    transition: all .6s ease; 
    transform: scale(1.050);
}

button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #7a94db;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: all .6s ease; 
}

button:hover {
    background-color: #91a5dc;
    transition: all .6s ease; 
}

.product1 img {
    height: 200px;
    width: 220px;
}

.product2 img {
    height: 200px;
    width: 180px;
}

.product3 img , .product4 img {
    height: 200px; 
    width: 275px; 
}

.product5 img , .product6 img , .product7 img {
    height: 200px;
    width: 300px; 
}

.product8 img {
    height: 200px;
    width: 150px;
}

.links p {
   height: 45px;
   text-align: center;
}

.links button{
    width: 250px;
}

